<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myy.medihealth.order.mapper.OrderItemMapper">

    <insert id="batchInsert" parameterType="list">
        INSERT INTO t_order_item (id, order_id, product_id, product_name, product_image, price, quantity, amount, prescription_required, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.orderId}, #{item.productId}, #{item.productName}, #{item.productImage}, #{item.price}, #{item.quantity}, #{item.amount}, #{item.prescriptionRequired}, #{item.createTime})
        </foreach>
    </insert>

</mapper>
